html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'PT Mono', serif;
    overflow-x: hidden;
}

#app {
    height: 100%;
}
.myInput {
    width: 100%;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #ccc1a7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    overflow: hidden;
    font-size: 17.5px;
}
.myInput:focus {
    border-bottom: 2px solid #cf4638;
    color: #201010;
}

.myInput::-webkit-input-placeholder {
    opacity: 1;
}
.myInput::-ms-input-placeholder {
    opacity: 1;
}
.myInput:-ms-input-placeholder {
    opacity: 1;
}
.myInput::-moz-placeholder {
    opacity: 1;
}
.myInput:-moz-placeholder {
    opacity: 1;
}
.myInput::placeholder {
    opacity: 1;
}

@media (max-width: 1140px) {
    #app {
        height: unset;
        min-height: 100%;
    }
}

@media (min-width: 1141px) {
    ::-webkit-scrollbar {
        width: 5px;
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        width: 15px;
        height: 5px;
        background-color: #ccc1a7;
    }
}
